<% if user_signed_in? %>
  <% if !current_application.present? %>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1">Apply Here</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
              <h2>Apply Here</h2>
              <h4>Additional info</h4>
              <p><%= organization.additional %></p>
              <%= simple_form_for [organization, new_application], remote: true do |f| %>
                <%= f.input :detail %>
                <%= f.submit class:'btn btn-primary', value:'Request' %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
