<% pending.each do |member| %>
  <tr id="<%= dom_id(member) %>">
    <td>
      <%=link_to member.name, organization_path(member)%>
    </td>
    <td>
      <%= link_to 'Approve', admin_organization_path(member, approve: true), method: :patch, remote: true, class: 'btn btn-success btn-xs'  %>
    </td>
    <td>
      <%= link_to 'Reject', admin_organization_path(member), method: :patch, remote: true, class: 'btn btn-danger btn-xs' %>
    </td>
  </tr>
<% end  %>
