<div class="container">
  <h2>Manage</h2>
  <hr>
  <div class="col-lg-4">
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Pending</th>
        </tr>
      </thead>
      <tbody id='pending_organizations'>
        <%= render 'admin/organizations/pending_organizations', pending: @pending %>
      <tbody>
    </table>
  </div>
  <div class="col-lg-4">
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Approved</th>
        </tr>
      </thead>
      <tbody id='approved_organizations'>
        <%= render 'admin/organizations/resolved_organizations', organizations: @approved %>
      <tbody>
    </table>
  </div>
  <div class="col-lg-4">
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Rejected</th>
        </tr>
      </thead>
      <tbody id='rejected_organizations'>
        <%= render 'admin/organizations/resolved_organizations', organizations: @rejected %>
      <tbody>
    </table>
  </div>
</div>
